.user {
    width: 400px;
    margin: auto;
}

.user > input {
    display: block;
    margin-bottom: 20px!important;
    width: 100%;
    height: 30px;
}

.user > p,.user > p >  a, .user > p > a:visited {
    text-decoration: none;
    color: aliceblue;
}

.user > p > a:hover {
    color: #e9204f;
}

.user > input:focus {
    border-color: #2099e9;
}

.submit:hover {
    border-color: #2099e9;
}